/* Fonts & Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    color: #3e2723;
    background-color: #fff8f0;
}

h1, h2, h3 {
    font-family: "playfair Display" , serif;
}

/* container */

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Navbar */
header {
    background:#4e342e;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-links li {
    margin-left: 20px;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}
.nav-links a:hover,
.nav-links .active {
    color: #ffca28;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: url("C:/Users/Favian/Pictures/pucks coffee image.jpeg") center/cover no-repeat;
    position: relative;
}
.hero-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}
.hero-text p {
    font-size: 1.2rem; 
    margin-bottom: 20px;
}
.hero-text span {
    color: #ffca28;
    font-weight: bold;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 25px;
    background: #ffca28;
    color: #3e2723;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease;
}
.btn:hover {
    background: #ffb300;
    transform: translateY(-3px);
}

/* Section */
.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: #4e342e;
}

/* Menu */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.menu-item {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}
.menu-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.menu-item:hover {
    transform: scale(1.05);
}
.menu-item span {
    color: #ff6f00;
    font-weight: bold;
}

#menu {
    margin-bottom: 30px;
}


/* About */
.about {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.about-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.about-text a {
    text-align: center;
}
.about-img {
    flex: 1;
}
.about-img img {
    width: 100%;
    border-radius: 10px;
}

.secondary-btn {
    background: transparent;
    border: 2px solid #ffca28;
    color: #ffca28;
}
.secondary-btn:hover {
    background: #ffca28;
    color: #3e2723;
}

#about {
    margin-bottom: 20px;
}

/* Offers */
.offers {
    background: #ffe0b2;
    padding: 50px 0;
}

.offers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.offer-card {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.offers h3 {
    color: #bb601a;
}

.offer-card:hover {
    cursor:pointer;
    transform: translateY(5px);
}

/*Contact */
.contact form {
    display: grid;
    gap: 15px;
    max-width: 500px;
    margin: auto;
}

.contact input,
.contact textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    border: none;
    cursor: pointer;
}

#contact {
    margin-bottom: 30px;
}

/* Footer */
footer{
    background: #4e342e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-links img {
    height: 25px;
    margin: 10px 5px;
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.2);
}

/* Responsive */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
    }
    .hero-text h1 {
        font-size: 2rem;
    }
}